.editBtn {
  background-color: aquamarine;
  border-radius: 50%;
}

.list {
  margin-left: -15px;
}

.head {
  color: #707070;
  font-weight: 600;
}

.crdHead {
  border-radius: 12px;
}

.bW {
  background-color: #0f9d58;
}

.bM {
  background-color: #db4437;
}

.bC {
  background-color: #4285f4;
}

.bF {
  background-color: #f4b400;
}

.load {
  margin-top: 200px;
  margin-bottom: 250px;
}
