.ulEdit {
  width: 100%;
}
.cardEdit {
  font-size: 20px;
  border-radius: 8px;
}

.sideHead {
  font-weight: 600;
}
.addBtn {
  background-color: #0f9d58;
  border-radius: 6px;
  padding: 4px 31px 4px 31px;
}

@media (max-width: 992px) {
  .navSM {
    display: block !important;
    margin-top: 10px;
  }
  .navLg {
    display: none !important;
  }
}
