.cardEdit {
  border-radius: 6px;
}

.sideHead {
  font-size: 20px;
  font-weight: 600;
}

.crdTxt {
  font-size: 20px;
}

.resetBtn {
  color: white;
  border-radius: 6px;
  background-color: #f4b400;
}

.resetBtn:hover {
  color: white;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15) !important;
}

.sideFoot {
  font-size: 12px;
  font-weight: 700;
}
.sideFooter {
  margin-top: 160px;
}

@media (max-width: 575.98px) {
  .filter {
    display: none;
  }
}

@media (min-width: 575.98px) {
  .filterSM {
    display: none;
  }
}

.crdStyle {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15) !important;
}

label {
  font-size: 14px !important;
}

.search-input {
  width: 400px !important;
}
