@font-face {
  font-family: GoogleSansBd;
  src: url("./assets/fonts/GoogleSans-Bold.ttf");
}

@font-face {
  font-family: GoogleSansRg;
  src: url("./assets/fonts/GoogleSans-Regular.ttf");
}

@font-face {
  font-family: GoogleSansMd;
  src: url("./assets/fonts/GoogleSans-Medium.ttf");
}

body {
  overflow-x: hidden !important;
  font-family: GoogleSansRg;
  background-color: #f1f1f1;
}

.card {
  border: 0;
}
