@font-face {
  font-family: GoogleSansBd;
  src: url("./assets/fonts/GoogleSans-Bold.ttf");
}

@font-face {
  font-family: GoogleSansRg;
  src: url("./assets/fonts/GoogleSans-Regular.ttf");
}

@font-face {
  font-family: GoogleSansMd;
  src: url("./assets/fonts/GoogleSans-Medium.ttf");
}

body {
  overflow-x: hidden !important;
  font-family: GoogleSansRg;
  background-color: #f1f1f1;
}

/* .fluid-container {
  width: 100%;
  align-items: center;
}

.container {
  margin: 0 100px !important;
} */

.card {
  border: 0;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

input:focus,
input:active {
  outline: none !important;
  box-shadow: none !important;
}
